* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #4cc2c5;
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
td,
th,
label {
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
}

.title {
    font-family: "Pacifico", cursive;
}

.recipeImage {
    height: 350px;
    border-style: solid;
    border-color: #ffffff;
    border-radius: 5%;
}

.buttonSmall {
    background-color: #df00ff;
    height: 100px;
    width: 100px;
    text-align: center;
    margin: auto;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-color: #ffffff;
    box-shadow: -1px 1px 54px 4px rgba(255, 255, 255, 0.75);
    -webkit-box-shadow: -1px 1px 54px 4px rgba(255, 255, 255, 0.75);
    -moz-box-shadow: -1px 1px 54px 4px rgba(255, 255, 255, 0.75);
}

.buttonSmall:hover {
    cursor: pointer;
    background-color: #ba00d6;
}

.buttonBig {
    background-color: #df00ff;
    height: 200px;
    width: 200px;
    text-align: center;
    margin: auto;
    margin-top: 10%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-color: #ffffff;
    box-shadow: -1px 1px 54px 4px rgba(255, 255, 255, 0.75);
    -webkit-box-shadow: -1px 1px 54px 4px rgba(255, 255, 255, 0.75);
    -moz-box-shadow: -1px 1px 54px 4px rgba(255, 255, 255, 0.75);
}

.buttonBig:hover {
    cursor: pointer;
    background-color: #ba00d6;
}
